<form method="post" class="resetpasswordform" asp-controller="resetpassword" asp-action="ResetPassword">
        @if (TempData["ErrorMessage"] != null)
    {
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    <input type="hidden" name="token" value="@Context.Request.Query["token"]">
    <input type="hidden" name="userid" value="@Context.Request.Query["userid"]">
    <input type="text" name="newpassword" placeholder="parola">
    <input type="text" name="newpasswordRepeat" placeholder="parola tekrar">
    <button type="submit">Parola değiştir</button>
</form>